#home{
    width: 105% !important;
    height: 100vh !important;
}
@media (min-width: 1024px) {
#mainNav .logo{
    margin-left: 280px !important;
    z-index:100;  
}
#menu-main-menu {
    margin-right: 280px !important;
}
}