/* Esto es el css adicional al editar la pagina, del sobre nosotros */

/* Sobreescribe el comportamiento del contenedor principal para ancho completo */
.page-title {
    width: 100%;
    height: 100vh !important;
}

.overlay {
    display: none;
}

@media (min-width: 1024px) {
    #mainNav .logo {
        margin-left: 280px !important;
        z-index: 100;
    }
    
    #menu-main-menu {
        margin-right: 280px !important;
    }
}
